
<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-weight: bold; text-transform:uppercase; line-height: 2;">{{ nombreTipoActividad }}
                    <button class="btn btn-danger btn-sm pull-right" ng-click="descargarPDF()">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        Descargar PDF
                    </button>
                </div>
                <div class="panel-body">
                    
                    <form name="actividadForm" novalidate class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4" >Director de Unidad : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ director}}</label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Registro :</label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaRegistro }}</label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4" >Nombre Docente : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ responsable }}</label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">Semestre : </label>
                                    <label class="control-label col-md-8 SRI-text-default" style="text-transform:uppercase;">{{ actividadInvestigacion.ssemestre }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Facultad : </label>
                                    <label class="control-label col-md-8 SRI-text-default">{{ actividadInvestigacion.sfacultad }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento : </label>
                                    <label class="control-label col-md-8 SRI-text-default">{{ actividadInvestigacion.sdepartamento }}</label>
                                </div>
                            </div>
                            
                            <div class="col-md-6" ng-show="mostrarActividad[2]">
                                <div class="form-group">
                                    <label class="control-label col-md-4">&Aacute;rea : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.sareaInvestigacion }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Sub &aacute;rea : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.ssubAreaInvestigacion }}</label>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Disciplina : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.sdisciplina }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[3]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Tipo de Producción : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.sritipoProduccion }}</label>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2" >{{ tituloLabel }} : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.snombreActividadInvestigacion }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[1]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Grado : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.stipoAsesoria }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre del Asesorado : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.snombreAsesorado }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">N° de Resoluci&oacute;n : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.snumeroContrato }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha de Resoluci&oacute;n : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaAceptacion }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[2]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Rol : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaRegistro }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Linea de Investigaci&oacute;n : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.slineaInvestigacion }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">N&uacute;mero de Contrato :</label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.snumeroContrato }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fuente de Financiamiento :</label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.sfondoConcursable }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha de Contrato : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaAceptacion }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Finalizaci&oacute;n del Proyecto :</label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaFin }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[3]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ fechaTipoProduccion }} : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.dfechaAceptacion }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Plazo de Ejecuci&oacute;n : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.splazoEjecucion }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="showVerificacion">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ labelCodigo }} : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.scodigo }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ labelNombrePublicacion }} : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.snombrePublicacion }}</label>                           
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" ng-show="showDescripcion">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> {{ descripcionLabel }} :</label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ actividadInvestigacion.sdescripcionActividad }}</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> Archivos adjuntos a la actividad</label>
                                    <div class="col-md-10">
                                        <div class="panel panel-default" >
                                            <div class="panel-body">
                                                <table width="100%" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="40%">Nombre Archivo</th>
                                                            <th>Tipo</th>
                                                            <th>Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="archivo in archivos">
                                                            <td><strong>{{ archivo.nombre }}</strong></td>
                                                            <td>{{ archivo.tipo }}</td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-danger btn-xs" ng-click="descargarArchivo(archivo)">
                                                                    <span class="glyphicon glyphicon-down"></span> Descargar
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="pendiente">
                                        <button class="col-md-offset-2 btn btn-primary" type="button" ng-click="AprobarActividad()">
                                            <span class="glyphicon glyphicon-ok"></span> Aprobar</button>
                                        <button type="button" class="btn btn-default" ng-click="RechazarActividad()">
                                            <span class="glyphicon glyphicon-trash"></span> Rechazar</button>
                                    </div>
                                    <div ng-show="generado || revisado">
                                        <button class="col-md-offset-2 btn btn-primary" type="button" ng-click="irBandejaRevisados()">
                                            <span class="glyphicon glyphicon-arrow-right"></span> Ir a Bandeja</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
    </div>
</div>