<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px;">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="col-md-10">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2" style="">Investigación</label>
                                <div class="col-md-4">
                                    <select class="form-control" style="margin:2px;" ng-model="tipoInvestigacion" ng-options="opt as opt.snombreActividadInvestigacion for opt in tipoInvestigaciones" ng-init="tipoInvestigacion=''" ng-change=actividadChange(tipoInvestigacion.snombreActividadInvestigacion)>
                                        <option></option>
                                    </select>
                                </div>
                                <label class="control-label col-md-2">Facultad</label>
                                <div class="col-md-4">
                                    <select ng-model="facultad"                
                                        ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Facultad'}"
                                        class="form-control"
                                        ng-change="facultadChange()"
                                        ng-required="true"
                                        style="margin:2px;"
                                        ng-init="facultad=''">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Departamento</label>
                                <div class="col-md-4">
                                    <select  ng-model="departamento"
                                        ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Departamento', nidPadre: facultad.nidEstructuraOrganizacion}"
                                        class="form-control"
                                        ng-change="departamentoChange()"
                                        ng-required="true"
                                        style="margin:2px;"
                                        ng-init="departamento=''">
                                        <option></option>
                                    </select> 
                                </div>
                                <label class="control-label col-md-2">Escuela</label>
                                <div class="col-md-4">
                                    <select  ng-model="escuela"
                                        ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Escuela', nidPadre: departamento.nidEstructuraOrganizacion}"
                                        class="form-control" 
                                        ng-required="true"
                                        style="margin:2px;"
                                        ng-init="escuela=''">
                                        <option></option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Semestre</label>
                                <div class="col-md-4">
                                    <select class="form-control" style="margin:2px;" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-init="semestre=''">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="control-label col-md-2"> Fondo Concursable</label>
                                <div class="col-md-4">
                                    <select class="form-control" style="margin:2px;" ng-model="fondo" ng-options="opt as opt.snombreFondoConcursable for opt in fondos" ng-init="fondo=''">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Responsable</label>
                                <div class="col-md-4">
                                    <select class="form-control" style="margin:2px;" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-init="semestre=''">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="control-label col-md-2"> Parametro</label>
                                <div class="col-md-4">
                                    <select class="form-control" style="margin:2px;" ng-model="fondo" ng-options="opt as opt.snombreFondoConcursable for opt in fondos" ng-init="fondo=''">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="filtrar()" >
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filtrar
                        </button> 
                    </div>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading" style="line-height: 2;">Actividades de Investigación Generadas 
                    <button class="btn btn-danger btn-sm pull-right" ng-click="descargarPDF()">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        Descargar PDF
                    </button>
                    <button class="btn btn-success btn-sm pull-right" ng-click="descargarExcel()" style="margin-right: 6px;">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        Descargar Excel
                    </button>
                </div>
                <div class="panel-body" > <!-- SRI-load-table-container -->

                    <div class="table-responsive dataTable_wrapper" ng-class="{'SRI-load-table-container': loadTable}">
                        <div ng-class="{'SRI-load-table': loadTable}"></div>
                        <table width="100%" class="table table-bordered table-hover" style="font-size:9.5pt;">
                            <thead>
                                <tr>
                                    <th ng-click="sortType = 'id'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        #
                                        <span ng-show="sortType === 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'facultad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Facultad
                                        <span ng-show="sortType === 'facultad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'facultad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'escuela'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Escuela
                                        <span ng-show="sortType === 'escuela' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'escuela' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'departamento'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Departamento
                                        <span ng-show="sortType === 'departamento' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'departamento' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'semestre'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Semestre
                                        <span ng-show="sortType === 'semestre' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'semestre' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
    <!--                                <th>Nombre del Proyecto</th>-->
                                    <th ng-click="sortType = 'nombreactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Nombre del Proyecto
                                        <span ng-show="sortType === 'nombreactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'nombreactividad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'tipoactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Tipo
                                        <span ng-show="sortType === 'tipoactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'tipoactividad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'fechacreacion'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Fecha Creación
                                        <span ng-show="sortType === 'fechacreacion' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'fechacreacion' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                     <th ng-click="sortType = 'ultimafecha'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Fecha Ultima Revisión
                                        <span ng-show="sortType === 'ultimafecha' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'ultimafecha' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'ultimoaprobador'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Ultima Revisión
                                        <span ng-show="sortType === 'ultimoaprobador' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'ultimoaprobador' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'pendiente'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Pendiente
                                        <span ng-show="sortType === 'pendiente' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'pendiente' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    <th>Fondo</th>
                                    <th ng-click="sortType = 'horas'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Duración
                                        <span ng-show="sortType === 'horas' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'horas' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th width="6%">Archivos</th>
                                    <th width="8%">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="actividadGenerada in actividadesGeneradas | orderBy:sortType:sortReverse" class="table-overflow">
                                    <td >{{ actividadGenerada.id }}</td>
                                    <td >{{ actividadGenerada.facultad }}</td>
                                    <td >{{ actividadGenerada.escuela }}</td>
                                    <td >{{ actividadGenerada.departamento }}</td>   
                                    <td >{{ actividadGenerada.semestre }}</td>
                                    <td ><strong>{{ actividadGenerada.nombreactividad }}</strong></td>
                                    <td >{{ actividadGenerada.tipoactividad }}</td>
                                    
                                    <td >{{ actividadGenerada.fechacreacion }}</td>
                                    <td >{{ actividadGenerada.ultimafecha }}</td>
                                    <td >{{ actividadGenerada.ultimoaprobador }}</td>
                                    <td >{{ actividadGenerada.pendiente }}</td>
                                    
                                    
                                        <td >{{ actividadGenerada.fondoconcursable }}</td>
                                    <td >{{ actividadGenerada.horas }}</td>
                                    <td >{{ actividadGenerada.cantidad }}</td>
                                    <td nowrap>
                                        <img style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/ver.png">
                                        <img style="width:30px; cursor: pointer" ng-click="updateActividadById(actividadGenerada)" src="resources/images/iconos/editar.png">
                                        <img style="width:30px; cursor: pointer" ng-click="EnviarEmail(actividadGenerada)" src="resources/images/iconos/enviar.png">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination
                            rango-paginas="rangoPaginas"
                            current-rango="currentRango"
                            num-pages="numPages()" 
                            current-page="currentPage"
                            max-size="maxSize"
                            total="total">    
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


