<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="container" class="container">
    <div class="col-lg-offset-2 col-md-10">
        <div class="panel panel-primary">

            <div class="panel-body">
                <div class="col-md-10">
                    <label class="control-label col-md-2" style="">Investigación</label>
                    <div class="col-md-4">
                        <select class="form-control" style="margin:2px;" ng-model="tipoInvestigacion" ng-options="opt as opt.snombreActividadInvestigacion for opt in tipoInvestigaciones" ng-init="tipoInvestigacion=''" ng-change=actividadChange(tipoInvestigacion.snombreActividadInvestigacion)>
                            <option></option>
                        </select>
                    </div>
                    <label class="control-label col-md-2">Facultad</label>
                    <div class="col-md-4">
                        <select ng-model="facultad"                
                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Facultad'}"
                            class="form-control"
                            ng-change="facultadChange()"
                            ng-required="true"
                            style="margin:2px;"
                            ng-init="facultad=''">
                            <option></option>
                        </select>
                    </div>
                    <label class="control-label col-md-2">Departamento</label>
                    <div class="col-md-4">
                        <select  ng-model="departamento"
                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Departamento', nidPadre: facultad.nidEstructuraOrganizacion}"
                            class="form-control"
                            ng-change="departamentoChange()"
                            ng-required="true"
                            style="margin:2px;"
                            ng-init="departamento=''">
                            <option></option>
                        </select> 
                    </div>
                    <label class="control-label col-md-2">Escuela</label>
                    <div class="col-md-4">
                        <select  ng-model="escuela"
                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Escuela', nidPadre: departamento.nidEstructuraOrganizacion}"
                            class="form-control" 
                            ng-required="true"
                            style="margin:2px;"
                            ng-init="escuela=''">
                            <option></option>
                        </select> 
                    </div>
                    <label class="control-label col-md-2">Semestre</label>
                    <div class="col-md-4">
                        <select class="form-control" style="margin:2px;" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-init="semestre=''">
                            <option></option>
                        </select>
                    </div>
                    <label class="control-label col-md-2"> Fondo Concursable</label>
                    <div class="col-md-4">
                        <select class="form-control" style="margin:2px;" ng-model="fondo" ng-options="opt as opt.snombreFondoConcursable for opt in fondos" ng-init="fondo=''">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-primary" ng-click="filtrar()" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filtrar
                    </a> 
                </div>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Actividades de Investigación Generadas</div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre del Proyecto</th>
                                <th>Tipo</th>
                                <th>Duración</th>
                                <th># Archivos</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="actividadGenerada in actividadesGeneradas">
                                <td>{{ actividadGenerada.id }}</td>
                                <td><strong>{{ actividadGenerada.nombreactividad }}</strong></td>
                                <td>{{ actividadGenerada.tipoactividad }}</td>
                                <td width="8%">{{ actividadGenerada.horas }}</td>
                                <td width="8%">{{ actividadGenerada.cantidad }}</td>
                                <td nowrap>
                                    <img style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/ver.png">
                                    <img style="width:30px; cursor: pointer" ng-click="updateActividadById(actividadGenerada)" src="resources/images/iconos/editar.png">
                                    <img style="width:30px; cursor: pointer" ng-click="EnviarEmail(actividadGenerada)" src="resources/images/iconos/enviar.png">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination
                        rango-paginas="rangoPaginas"
                        current-rango="currentRango"
                        num-pages="numPages()" 
                        current-page="currentPage"
                        max-size="maxSize" >    
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>


