<div ng-controller="HeaderController">
   <header>
      <nav class="navbar navbar-default" ng-show="sharedService.userAutenticado">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                     <img class="logotipo" alt="Brand" src="resources/images/logotipo.jpg">
                  </a>
               </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" ng-bind-html="sharedService.htmlMenu" compila-plantilla>

                    </ul>
                    <ul class="nav navbar-nav navbar-right" >
                        <img class="usuario" src="resources/images/default-user.png">
                        <p class="navbar-text">{{message}}</p>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Salir</button>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div ng-class="{'SRI-modal-open': sharedService.popUp.open, 'SRI-modal-close': sharedService.popUp.close}" >
        <div class="SRI-modal">
            <a ng-click="sharedService.popUp.clearPopUp()" class="SRIModal-cerrar" >Cerrar</a>
            <div>
                <h3>{{sharedService.popUp.titulo}}</h3>
                <p>{{sharedService.popUp.mensaje}}</p>
            </div>
            <hr/>
            <button ng-show="sharedService.popUp.op1.open" ng-click="sharedService.popUp.op1.fun(sharedService.popUp.url)" class="SRIModal-button SRI-confirmar">
                {{ sharedService.popUp.op1.txt }}</button>
        </div>
    </div>   
</div>

<!-- Menu vertical -->

<div class="row" ng-controller="HeaderController">
    <div class="side-menu" ng-show="sharedService.userAutenticado">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <center>
                            <a class="navbar-brand" href="#home">
                                <button type="submit" class="SRI-button-unsa"> Crear Actividad</button>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li><a href="#/actividad/Generadas"> Actividades Generadas</a></li>
                    <li><a href="#/actividad/Revisadas"> Actividades Revisadas</a></li>
                    <li><a href="#/actividad/Pendientes"> Actividades Pendientes</a></li>
<!--                    <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>-->
                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" style="cursor: pointer;" ng-click="openDropdownReportes()">
                            <span class="glyphicon glyphicon-list-alt"></span> Reportes <span class="caret"></span>
                        </a>
                        <div class="panel-collapse collapse" ng-class="{'in' : openReportes}">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a>Relacion de Docentes</a></li>
                                    <li><a>Actividades por Docente </a></li>
                                    <li><a>Reporte Principal</a></li>
                                </ul>
                            </div>
                        </div>
                        
                         <a data-toggle="collapse" style="cursor: pointer;" ng-click="openDropdownConfiguracion()">
                            <span class="glyphicon glyphicon-cog"></span> Configuracion <span class="caret"></span>
                        </a>
                        <div class="panel-collapse collapse" ng-class="{'in' : openConfiguracion}">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#tipoinvestigacion">Tipo Investigacion</a></li>
                                    <li><a href="#tiponivel">TipoNivel </a></li>
                                    <li><a href="#tipoasesoria">Tipo Asesoria</a></li>
                                </ul>
                            </div>
                        </div>

                        <a data-toggle="collapse" style="cursor: pointer;" ng-click="openDropdownPermisos()">
                            <span class="glyphicon glyphicon-user"></span> Permisos <span class="caret"></span>
                        </a>
                        <div class="panel-collapse collapse" ng-class="{'in' : openPermisos}">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="#usuarios">Usuarios</a></li>
                                    <li><a href="#roles">Roles </a></li>
                                    <li><a href="#usuariorol">Rol de Usuario</a></li>
                                    <li><a href="#flujoactor">Flujo Actor</a></li>
                                    <li><a href="#usuarioflujo">Usuario Actores</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</div>


