<div id="wrapper" ng-controller="HeaderController">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-show="sharedService.userAutenticado">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding-top:0px;">
                <img style="margin-top:10px;" class="logotipo" alt="Brand" src="resources/images/logotipo.jpg">
            </a>
        </div>
        <!-- /.navbar-header -->

        <!-- Menu Horizontal -->
        <ul class="nav navbar-top-links navbar-right" ng-bind-html="sharedService.htmlMenu" compila-plantilla ></ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu"> <!--  ng-bind-html="sharedService.htmlMenuVertical" compila-plantilla  -->
                    <li class="sidebar-search"><a href="{{ sharedService.crearActividadHome }}"><button class="btn btn-primary" type="button"><i class="fa fa-edit fa-fw"></i>  Crear Actividad</button></a></li>
                    <li ng-show="sharedService.menuvertical.generadas" ><a href="#actividad/Generadas">Actividades Generadas</a></li>
                    <li ng-show="sharedService.menuvertical.revisadas" ><a href="#actividad/Revisadas">Actividades Revisadas</a></li>
                    <li ng-show="sharedService.menuvertical.pendientes"><a href="#actividad/Pendientes">Actividades Pendientes</a></li>
                    <li ng-show="sharedService.menuvertical.reportes"><a href="#modulo/Exoneracion">M&oacute;dulo de exoneraci&oacute;n</a></li>
                    <li >
                       <a ng-show="sharedService.menuvertical.reportes"><i class="fa fa-files-o fa-fw"></i> Reportes<span class="fa arrow"></span></a>
                       <ul ng-show="sharedService.menuvertical.relacionDocentes" class="nav nav-second-level">
                          <li><a href="#relacionDocentes">Relacion Docentes</a></li>
                       </ul>
                    </li>
                    <li>
                       <a ng-show="sharedService.menuvertical.configuracion"><i class="fa fa-gear fa-fw"></i> Configuraci&oacute;n<span class="fa arrow"></span></a>
                       <ul class="nav nav-second-level">
                          <li ng-show="sharedService.menuvertical.tipoInvestigacion"><a href="#tipoinvestigacion">Tipo de Investigaci&oacute;n</a></li>
                          <li ng-show="sharedService.menuvertical.tipoNivel"><a href="#tiponivel">Tipo nivel</a></li>
                          <li ng-show="sharedService.menuvertical.tipoInvestigador"><a href="#tipoinvestigador">Tipo de Investigador</a></li>
                          <li ng-show="sharedService.menuvertical.tipoProduccion"><a href="#tipoproduccion">Tipo de Produccion</a></li>
                          <li ng-show="sharedService.menuvertical.tipoAsesoria"><a href="#tipoasesoria">Tipo de Asesoria</a></li>
                          <li ng-show="sharedService.menuvertical.tipoNivel"><a href="#categoriadocente">Categoria Docente</a></li>
                          <li ng-show="sharedService.menuvertical.tipoNivel"><a href="#exoneracion">Exoneraci&oacute;n</a></li>
                          <li ng-show="sharedService.menuvertical.semestres"><a href="#semestre">Semestres</a></li>
                          <li ng-show="sharedService.menuvertical.estructuraOrganizacion"><a href="#estructuraorganizacion">Estructura de la Organizaci&oacute;n</a></li>
                          <li ng-show="sharedService.menuvertical.areaInvestigacion"><a href="#areainvestigacion">Area de investigaci&oacute;n</a></li>
                          <li ng-show="sharedService.menuvertical.flujoArista"><a href="#flujoarista">Flujo Arista</a></li>
                          <li ng-show="sharedService.menuvertical.generarCampos"><a href="#generarCampos">Generar Campos</a></li>
                          <li ng-show="sharedService.menuvertical.fuenteFinanciamiento"><a href="#fondoconcursable">Fuente Financiamiento</a></li>
                       </ul>
                    </li>
                    <li>
                       <a ng-show="sharedService.menuvertical.permisos"><i class="fa fa-user fa-fw"></i> Permisos<span class="fa arrow"></span></a>
                       <ul class="nav nav-second-level">
                          <li ng-show="sharedService.menuvertical.usuarios"><a href="#usuarios">Usuarios</a></li>
                          <li ng-show="sharedService.menuvertical.privilegio"><a href="#privilegios">Privilegios</a></li>
                          <li ng-show="sharedService.menuvertical.roles"><a href="#roles">Roles</a></li>
                          <li ng-show="sharedService.menuvertical.rolUsuario"><a href="#usuariorol">Rol de Usuario</a></li>
                          <li ng-show="sharedService.menuvertical.actores"><a href="#flujoactor">Actores</a></li>
                          <li ng-show="sharedService.menuvertical.usuarioActores"><a href="#usuarioflujo">Usuarios Actores</a></li>
                       </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script type="text/javascript-lazy" src="resources/js/Menu/metisMenu.min.js"></script>
    <script type="text/javascript-lazy" src="resources/js/Menu/sb-admin-2.js"></script>
        
    <div ng-class="{'SRI-modal-open': sharedService.popUp.open, 'SRI-modal-close': sharedService.popUp.close}" >
        <div class="SRI-modal">
            <a ng-click="sharedService.popUp.clearPopUp()" class="SRIModal-cerrar" >Cerrar</a>
            <div>
                <h3>{{sharedService.popUp.titulo}}</h3>
                <p>{{sharedService.popUp.mensaje}}</p>
            </div>
            <hr/>
            <button ng-show="sharedService.popUp.op1.open" ng-click="sharedService.popUp.op1.fun(sharedService.popUp.url)" class="SRIModal-button SRI-confirmar">
                {{ sharedService.popUp.op1.txt }}</button>
        </div>
    </div>
    
    <div id="modalCambiarContrasena" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ titulo }}</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form ng-show="showCodigoSeguridad" name="formCodigoSeguridad" novalidate class="form-horizontal">
                                    <p>{{ mensaje }}</p>
                                    <div class="form-group">
                                        <div class="col-md-6" ng-class="{ 'has-error' : formCodigoSeguridad.codigo.$invalid && submitted || formCodigoSeguridad.codigo.$error.minlength || formCodigoSeguridad.codigo.$error.maxlength}">
                                            <input name="codigo" 
                                                   ng-model="codigoSeguridad" 
                                                   ng-minlength=6 
                                                   ng-maxlength=6
                                                   type="text" 
                                                   class="form-control" 
                                                   placeholder="######" 
                                                   required
                                                   uppercase>
                                            <p ng-show="formCodigoSeguridad.codigo.$error.required && submitted" class="help-block">
                                                Ingrese el C&oacute;digo de Seguridad.
                                            </p>
                                            <p ng-show="formCodigoSeguridad.codigo.$error.minlength" class="help-block">
                                                El C&oacute;digo de seguridad, debe tener 6 caracteres.
                                            </p>
                                            <p ng-show="formCodigoSeguridad.codigo.$error.maxlength" class="help-block">
                                                El C&oacute;digo de seguridad, debe tener 6 caracteres.
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <form ng-show="showContrasena" name="formCambiarContrasena" novalidate class="form-horizontal">
                                    <p>{{ mensaje }}</p>
                                    <div class="form-group">
                                        <div  class="col-md-6" ng-class="{ 'has-error' : formCambiarContrasena.contrasena.$invalid && submitted || 
                                                                                         formCambiarContrasena.contrasena.$error.minlength || 
                                                                                         formCambiarContrasena.contrasena.$error.maxlength ||
                                                                                         check}">
                                            <input name="contrasena" 
                                                   ng-model="nuevaContrasena" 
                                                   ng-minlength=5 
                                                   ng-maxlength=10
                                                   type="password" 
                                                   class="form-control" 
                                                   placeholder="Ingrese su Contrase&ntilde;a" 
                                                   required>
                                            <label style="margin-top: 10px;">Confirmar Contrase&ntilde;a:</label>
                                            <input type="password" 
                                                   name="contrasena2" 
                                                   ng-model="nuevaContrasena2"
                                                   class="form-control"
                                                   required/>
                                            <p ng-show="formCambiarContrasena.contrasena.$error.required && submitted" class="help-block">
                                                Ingrese la Contrase&ntilde;a.
                                            </p>
                                            <p ng-show="formCambiarContrasena.contrasena.$error.minlength" class="help-block">
                                                La nueva Contrase&ntilde;a debe ser mayor de 5 caracteres.
                                            </p>
                                            <p ng-show="formCambiarContrasena.contrasena.$error.maxlength" class="help-block">
                                                La nueva Contrase&ntilde;a debe ser menor o igual que 10 caracteres.
                                            </p>
                                            <p class="help-block" ng-show="check">
                                                Las contrase&ntilde;as no coinciden.
                                            </p> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button ng-show="showCodigoSeguridad" type="button" class="btn btn-primary" ng-click="verificarCodigo()">
                        <span class="glyphicon glyphicon-rol"></span>
                        Continuar
                    </button>
                    <button ng-show="showContrasena" type="button" class="btn btn-primary" ng-click="guardarContrasena()">
                        <span class="glyphicon glyphicon-rol"></span>
                        Continuar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="modalDni" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ingrese su DNI</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="formDni" novalidate class="form-horizontal">
                                    <p>Bienvenido al Sistema de Registro de Investigaciones, por favor ingrese su n&uacute;mero de DNI.</p>
                                    
                                    <div class="form-group">
                                        <div class="col-md-6" ng-class="{ 'has-error' : formDni.dni.$invalid && submitted || formDni.dni.$error.minlength || formDni.dni.$error.maxlength}">
                                            <input name="dni" 
                                                   ng-model="dniUsuario" 
                                                   ng-minlength=8 
                                                   ng-maxlength=8
                                                   type="number"
                                                   class="form-control" 
                                                   placeholder="########" 
                                                   required>
                                            <p ng-show="formDni.dni.$error.required && submitted" class="help-block">
                                                Ingrese el n&uacute;mero de DNI.
                                            </p>
                                            <p ng-show="formDni.dni.$error.minlength" class="help-block">
                                                El n&uacute;mero de DNI, debe tener 8 D&iacute;gitos.
                                            </p>
                                            <p ng-show="formDni.dni.$error.maxlength" class="help-block">
                                                El n&uacute;mero de DNI, debe tener 8 D&iacute;gitos.
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="guardarDni()">
                        <span class="glyphicon glyphicon-rol"></span>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>


