<div id="page-wrapper">
    <div class="col-lg-12" style="margin-top:20px;">
<!--        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tipo de Actividades de Investigaci&oacute;n</h1>
            </div>
        </div>-->
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-1">Periodo</label>
                            <div class="col-md-4">
                                <select class="form-control" style="margin:2px;" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-change="changeSemestre(semestre)">
                                    <option></option>
                                </select>
                            </div>
                            <label class="control-label col-md-5" style="text-align:left; text-transform:uppercase;">{{ sharedService.docente.snombre + " " + sharedService.docente.sapellido}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" ng-repeat="tipoInvestigacion in tipoInvestigaciones">
                <div class="panel panel-primary" ng-click="goHome(tipoInvestigacion)" style="cursor: pointer;">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="caja">{{ tipoInvestigacion.snombreActividadInvestigacion }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading" style="line-height: 2;">Actividades de Investigación 
<!--                    <button class="btn btn-danger btn-sm pull-right" ng-click="descargarPDF()">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        Descargar PDF
                    </button>
                    <button class="btn btn-success btn-sm pull-right" ng-click="descargarExcel()" style="margin-right: 6px;">
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        Descargar Excel
                    </button>-->
                </div>
                <div class="panel-body" > <!-- SRI-load-table-container -->

                    <div class="table-responsive dataTable_wrapper" ng-class="{'SRI-load-table-container': loadTable}">
                        <div ng-class="{'SRI-load-table': loadTable}"></div>
                        <table width="100%" class="table table-bordered table-hover" style="font-size:9.5pt;">
                            <thead>
                                <tr>
                                    <th ng-click="sortType = 'id'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        #
                                        <span ng-show="sortType === 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'id' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'facultad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Facultad
                                        <span ng-show="sortType === 'facultad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'facultad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'escuela'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Escuela
                                        <span ng-show="sortType === 'escuela' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'escuela' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'departamento'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Departamento
                                        <span ng-show="sortType === 'departamento' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'departamento' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'semestre'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Semestre
                                        <span ng-show="sortType === 'semestre' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'semestre' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
    <!--                                <th>Nombre del Proyecto</th>-->
                                    <th ng-click="sortType = 'nombreactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Nombre del Proyecto
                                        <span ng-show="sortType === 'nombreactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'nombreactividad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th ng-click="sortType = 'tipoactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Tipo
                                        <span ng-show="sortType === 'tipoactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'tipoactividad' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'fechacreacion'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Fecha Creación
                                        <span ng-show="sortType === 'fechacreacion' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'fechacreacion' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                     <th ng-click="sortType = 'ultimafecha'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Fecha Ultima Revisión
                                        <span ng-show="sortType === 'ultimafecha' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'ultimafecha' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'ultimoaprobador'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Ultima Revisión
                                        <span ng-show="sortType === 'ultimoaprobador' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'ultimoaprobador' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    
                                     <th ng-click="sortType = 'pendiente'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Pendiente
                                        <span ng-show="sortType === 'pendiente' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'pendiente' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    
                                    
                                    <th>Fondo</th>
                                    <th ng-click="sortType = 'horas'; sortReverse = !sortReverse" style='cursor: pointer'>
                                        Duración
                                        <span ng-show="sortType === 'horas' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType === 'horas' && sortReverse" class="fa fa-caret-up"></span>
                                    </th>
                                    <th width="6%">Archivos</th>
<!--                                    <th width="8%">Acción</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="actividadGenerada in actividadesGeneradas | orderBy:sortType:sortReverse" class="table-overflow">
                                    <td >{{ actividadGenerada.id }}</td>
                                    <td >{{ actividadGenerada.facultad }}</td>
                                    <td >{{ actividadGenerada.escuela }}</td>
                                    <td >{{ actividadGenerada.departamento }}</td>   
                                    <td >{{ actividadGenerada.semestre }}</td>
                                    <td ><strong>{{ actividadGenerada.nombreactividad }}</strong></td>
                                    <td >{{ actividadGenerada.tipoactividad }}</td>
                                    
                                    <td >{{ actividadGenerada.fechacreacion }}</td>
                                    <td >{{ actividadGenerada.ultimafecha }}</td>
                                    <td >{{ actividadGenerada.ultimoaprobador }}</td>
                                    <td >{{ actividadGenerada.pendiente }}</td>
                                    
                                    
                                    <td >{{ actividadGenerada.fondoconcursable }}</td>
                                    <td >{{ actividadGenerada.horas }}</td>
                                    <td >{{ actividadGenerada.cantidad }}</td>
<!--                                    <td nowrap>
                                        <img style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/ver.png">
                                        <img style="width:30px; cursor: pointer" ng-click="updateActividadById(actividadGenerada)" src="resources/images/iconos/editar.png">
                                        <img style="width:30px; cursor: pointer" ng-click="EnviarEmail(actividadGenerada)" src="resources/images/iconos/enviar.png">
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                        <pagination
                            rango-paginas="rangoPaginas"
                            current-rango="currentRango"
                            num-pages="numPages()" 
                            current-page="currentPage"
                            max-size="maxSize"
                            total="total">    
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



