
<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="font-weight: bold; text-transform:uppercase;">{{ tipoInvestigacion.snombreActividadInvestigacion }}</div>
                <div class="panel-body">
                    <form name="actividadForm" novalidate class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4" >Director de Unidad : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ director.snombre + ' ' + director.sapellido }}</label>
<!--                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.directorValidacion.$invalid && submitted }">
                                        <input name="directorValidacion" type="text" ng-model="director" uib-typeahead='opt as (opt.snombre + " " + opt.sapellido ) for opt in personas | filter:$viewValue | limitTo:8' class="form-control" style="background-color:#f0f0f0;" required>
                                        <p ng-show="actividadForm.directorValidacion.$invalid && submitted" class="help-block">El Director de Unidad es Requerido.</p>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Registro</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup datepicker-popup="dd/MM/yyyy" show-button-bar="false" ng-model="fechaRegistro" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4" >Nombre Docente : </label>
                                    <label class="control-label col-md-8 SRI-text-default" >{{ responsable }}</label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <label class="control-label col-md-4">Semestre : </label>
                                    <label class="control-label col-md-8 SRI-text-default">{{ semestre.snombreSemestre }}</label>
<!--                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.semestre.$invalid && submitted }">
                                        <select name="semestre" class="form-control" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-init="semestre=''" required></select>
                                        <p ng-show="actividadForm.semestre.$invalid && submitted" class="help-block">El Semestre es Requerido.</p>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Facultad : </label>
                                    <label class="control-label col-md-8 SRI-text-default">{{ facultad.snombreEstructuraOrganizacion }}</label>
<!--                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.facultadValidacion.$invalid && submitted }">
                                        <select name="facultadValidacion" ng-model="facultad"                
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { snivel : 'FACULTAD'}"
                                            class="form-control"
                                            ng-change="changeFacultad(facultad)"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.facultadValidacion.$invalid && submitted" class="help-block">La Facultad es Requerida.</p>
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento : </label>
                                    <label class="control-label col-md-8 SRI-text-default">{{ departamento.snombreEstructuraOrganizacion     }}</label>
<!--                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.departamentoValidacion.$invalid && submitted }">
                                        <select  name="departamentoValidacion" ng-model="departamento"
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in departamentos | filter : { snivel : 'DEPARTAMENTO'}"
                                            class="form-control"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.departamentoValidacion.$invalid && submitted" class="help-block">El Departamento es Requerida.</p>
                                    </div>-->
                                </div>
<!--                                <div class="form-group">
                                    <label class="control-label col-md-4">Escuela</label>
                                    <div class="col-md-8" >  ng-class="{ 'has-error' : actividadForm.escuelaValidacion.$invalid && submitted }" 
                                        <select name="escuelaValidacion" ng-model="escuela"
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in escuelas | filter : { snivel : 'ESCUELA'}"
                                            class="form-control"
                                            >
                                        </select>
                                        <p ng-show="actividadForm.escuelaValidacion.$invalid && submitted" class="help-block">La Escuela es Requerida.</p>
                                    </div>
                                </div>-->
<!--                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Inicio</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaInicio" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Avance (%) </label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.avanceValidacion.$invalid && submitted }">
                                        <input name="avanceValidacion" class="form-control" type="number" ng-model="avance" placeholder="Avance de la Actividad en porcentaje" required>
                                        <p ng-show="actividadForm.avanceValidacion.$invalid && submitted" class="help-block">El avance es requerido.</p>
                                    </div>
                                </div>-->
                            </div>
                            
                            
                            <div class="col-md-6" ng-show="mostrarActividad[2]">
<!--                                <div class="form-group">
                                    <label class="control-label col-md-4" >Tipo Actividad de Investigaci&oacute;n</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.investigacion.$invalid && submitted }">
                                        <select name="investigacion" class="form-control" ng-model="tipoInvestigacion" ng-options="opt as opt.snombreActividadInvestigacion for opt in tipoInvestigaciones" ng-change=changeTipoActividad(tipoInvestigacion.snombreActividadInvestigacion) required></select>
                                        <p ng-show="actividadForm.investigacion.$invalid && submitted" class="help-block">El Tipo de Investigacion es Requerido.</p>
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="control-label col-md-4">&Aacute;rea</label>
                                    <div class="col-md-8" > <!-- ng-class="{ 'has-error' : actividadForm.area.$invalid && submitted }"-->
                                        <select name="area" ng-model="areaInvestigacion" 
                                            ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { sNivel: 'Area'}"
                                            class="form-control"
                                            ng-init="disciplinaInvestigacion=''"
                                            ng-change="changeArea(areaInvestigacion)"
                                            >
                                        </select>
<!--                                        <p ng-show="actividadForm.area.$invalid && submitted" class="help-block">El &aacute;rea es Requerida.</p>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Sub &aacute;rea</label>
                                    <div class="col-md-8" > <!-- ng-class="{ 'has-error' : actividadForm.subarea.$invalid && submitted }" -->
                                        <select name="subarea" ng-model="subAreaInvestigacion" 
                                            ng-options="obj as obj.sNombre for obj in subAreaInvestigaciones | filter : { sNivel: 'Sub Area'}"
                                            class="form-control"
                                            ng-init="disciplinaInvestigacion=''"
                                            ng-change="changeSubArea(subAreaInvestigacion)"
                                            >
                                        </select>
<!--                                        <p ng-show="actividadForm.subarea.$invalid && submitted" class="help-block">La Sub &aacute; es Requerida.</p>-->
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Disciplina</label>
                                    <div class="col-md-8" > <!-- ng-class="{ 'has-error' : actividadForm.disciplina.$invalid && submitted }" -->
                                        <select name="disciplina" ng-model="disciplinaInvestigacion" 
                                            ng-options="obj as obj.sNombre for obj in disciplinaInvestigaciones | filter : { sNivel: 'Disciplina'}"
                                            class="form-control"
                                            ng-init="disciplinaInvestigacion=''"
                                            >
                                        </select>
<!--                                        <p ng-show="actividadForm.disciplina.$invalid && submitted" class="help-block">La Disciplina es Requerida.</p>-->
                                    </div>
                                </div>
<!--                                <div class="form-group">
                                    <label class="control-label col-md-4"> Duraci&oacute;n </label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.duracion.$invalid && submitted }">
                                        <input name="duracion" class="form-control" type="number" ng-model="duracionInvestigacion" placeholder="Número de horas que durara la investigación" required>
                                        <p ng-show="actividadForm.duracion.$invalid && submitted" class="help-block">La duración es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Fin</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaFin" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>-->
<!--                                <div class="form-group">
                                    <label class="control-label col-md-4"> Colaboradores</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input readonly="readonly" class="form-control" ng-model="totalColaboradores">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalColaborador"><i class="glyphicon glyphicon-user"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[3]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Tipo de Producción</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoProduccion" ng-options="opt as opt.snombreTipoProduccion for opt in tipoProducciones" ng-change="changeTipoProduccion(tipoProduccion)"></select>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2" >{{ tituloLabel }}</label>
                                    <div class="col-md-10" ng-class="{ 'has-error' : actividadForm.nombre.$invalid && submitted }">
                                        <input name="nombre" ng-model="nombreInvestigacion" type="text" class="form-control" required>
                                        <p ng-show="actividadForm.nombre.$invalid && submitted" class="help-block">El nombre es Requerido.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[1]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Grado</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoAsesoria" ng-options="opt as opt.snombreTipoAsesoria for opt in tipoAsesorias"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre del Asesorado</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="nombreAsesorado" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">N° de Resoluci&oacute;n</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="numeroContrato"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha de Resoluci&oacute;n</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaAceptacion" is-open="popupAceptacion.opened" datepicker-options="dateOptions" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openAceptacion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[2]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Rol</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoInvestigador" ng-options="opt as opt.nombre for opt in tipoInvestigadores" ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Linea de Investigaci&oacute;n</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="lineaInvestigacion" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">N&uacute;mero de Contrato</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="numeroContrato" />
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Monto de Financiamiento</label>
                                    <div class="col-md-6">
                                        <input  class="form-control" ng-model="montoFinanciamiento" />
                                    </div>
                                    <div class="col-md-2" style="padding:0;">
                                        <select class="form-control" ng-model="tipoMoneda" ng-options="opt as opt for opt in tipoMonedas"></select>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fuente de Financiamiento</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="fondo" ng-options="opt as opt.snombreFondoConcursable for opt in fondos"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha de Contrato</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaAceptacion" is-open="popupAceptacion.opened" datepicker-options="dateOptions" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openAceptacion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fecha Finalizaci&oacute;n del Proyecto</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaFin" is-open="popupFin.opened" datepicker-options="dateOptions" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openFin()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[3]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ fechaTipoProduccion }}</label>
                                    <div class="col-md-8">
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup  show-button-bar="false" ng-model="fechaAceptacion" is-open="popupAceptacion.opened" datepicker-options="dateOptions" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openAceptacion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Plazo de Ejecuci&oacute;n</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="plazoEjecucion" />
                                    </div>                            
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="showVerificacion">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ labelCodigo }}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="codigo"/>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">{{ labelNombrePublicacion }}</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="nombrePublicacion" />
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </form>
                    
<!--                     Formulario Dinamico 
                    
                    <fieldset >
                        <legend >{{ facultad.snombreEstructuraOrganizacion }}</legend>
                    </fieldset>
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-bind-html="campos" compila-plantilla></div>
                            </div>
                        </div>
                    </form>-->
                    
                    
                    <form class="form-horizontal" ng-show="showDescripcion">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> {{ descripcionLabel }}</label>
                                    <div class="col-md-10">
                                        <textarea ng-model="descripcion" class="form-control" rows="5"></textarea> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inpFile" class="control-label col-md-2"> {{adjuntar}}</label>
                                    <div class="col-md-10">
                                        <div class="panel panel-default" >
                                            <div class="panel-body">
                                                <div class="col-md-2">
                                                    <label for="fileUpload" class="SRI-button"> Adjuntar </label>
                                                    <input id="fileUpload" style="display:none;" type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
    <!--                                                    <p>Número de Archivos: {{ uploader.queue.length }}</p>-->
                                                </div>
                                                <div class="col-md-10">
                                                    <table class="table" style="margin-bottom:0;">
                                                        <thead>
                                                            <tr>
<!--                                                                <th width="50%">Nombre</th>-->
<!--                                                                <th>Tamaño</th>-->
<!--                                                                <th>Progreso</th>-->
<!--                                                                <th>Acción</th>-->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in uploader.queue">
                                                                <td width="60%"><strong>{{ item.file.name }}</strong></td>
<!--                                                                <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>-->
                                                                <td>
                                                                    <div class="progress" style="margin-bottom: 0;">
                                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                    </div>
                                                                </td>
                                                                <td nowrap width="10%">
                                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div style="display:none;">
                                                    <div >
                                                        Progreso:
                                                        <div class="progress" style="">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                        </div>
                                                    </div>
    <!--                                            <button type="button" class="btn btn-success btn-s" ng-click="uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                        <span class="glyphicon glyphicon-upload"></span> Subir todo
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todo
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                        <span class="glyphicon glyphicon-trash"></span> Eliminar todo
                                                    </button>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inpFile" class="control-label col-md-2"> {{ adjuntarOtros }}</label>
                                    <div class="col-md-10">
                                        <div class="panel panel-default" >
                                            <div class="panel-body">
                                                <div class="col-md-2">
                                                    <label for="subirArchivo" class="SRI-button"> Adjuntar </label>
                                                    <input id="subirArchivo" style="display:none;" type="file" nv-file-select="" uploader="uploader2" multiple  /><br/>
    <!--                                                    <p>Número de Archivos: {{ uploader.queue.length }}</p>-->
                                                </div>
                                                <div class="col-md-10">
                                                    <table class="table" style="margin-bottom:0;">
                                                        <thead>
                                                            <tr></tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in uploader2.queue">
                                                                <td width="60%"><strong>{{ item.file.name }}</strong></td>
<!--                                                                <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>-->
                                                                <td>
                                                                    <div class="progress" style="margin-bottom: 0;">
                                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                                    </div>
                                                                </td>
                                                                <td nowrap width="10%">
                                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12" style="margin-top:10px;">
<!--                                <button type="submit" ng-click="guardarInvestigacion()" class="btn btn-default pull-right" style="margin-left:10px;"> 
                                    <span class="glyphicon glyphicon-floppy-saved"></span> Guardar
                                </button>-->
                                <button type="submit" ng-click="registrarInvestigacion(actividadForm.$valid)" class="btn btn-primary pull-right"> 
                                    <span class="glyphicon glyphicon-saved"></span> Registrar
                                </button>                                    
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>	
        </div>
    </div>
</div>

<div ng-class="{'SRI-modal-open': modal.open, 'SRI-modal-close': modal.close}" >
    <div class="SRI-modal">
        <a ng-click="openCloseModal(false, true)" class="SRIModal-cerrar" >Cerrar</a>
        <div>
            <h3 style="margin-top: 10px; margin-bottom: 5px;">Registro Correcto!</h3>
            <hr/>
            <ul>
                <li><p>Ir a actividades generadas clic en :<strong> Ir a Bandeja</strong></p></li>
                <li><p>Generar otra actividad clic en :<strong> Nueva Actividad</strong></p></li>
            </ul>
        </div>
        <hr/>
        <button ng-click="registrarNuevaActividad()" class="SRIModal-button SRI-confirmar">
            <span class="glyphicon glyphicon-list-alt"></span> Nueva Actividad
        </button>
        <button ng-click="irActividadesGeneradas()" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-right"></span> Ir a Bandeja
        </button>
    </div>
</div>


<div id="modalColaborador" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Colaboradores</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Usuarios</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="persona" uib-typeahead='opt as (opt.snombre + " " + opt.sapellido) for opt in personas | filter:$viewValue | limitTo:8' class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary" ng-click="AgregarColaborador()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="70%">Colaboradores Asignados</th>
                                            <th>Acci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="colaborador in colaboradores">                   
                                            <td>{{ colaborador.snombre }} {{colaborador.sapellido}}</td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="DeleteColaborador(colaborador)">
                                                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updatePaginacion()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

