<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-1">Periodo</label>
                                    <div class="col-md-4">
                                        <select class="form-control" style="margin:2px;" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-change="changeSemestre(semestre)">
                                            <option></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-5" style="text-align:left; text-transform:uppercase;">{{ sharedService.docente.snombre + " " + sharedService.docente.sapellido}}</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6" ng-repeat="tipoInvestigacion in tipoInvestigaciones">
                    <div class="panel panel-primary" ng-click="goHome(tipoInvestigacion)" style="cursor: pointer;">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="caja">{{ tipoInvestigacion.snombreActividadInvestigacion }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="line-height: 2;">Actividades de Investigación 
                            <!--<button class="btn btn-danger btn-sm pull-right" ng-click="descargarPDF()">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                Descargar PDF
                            </button>
                            <button class="btn btn-success btn-sm pull-right" ng-click="descargarExcel()" style="margin-right: 6px;">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                Descargar Excel
                            </button>-->
                        </div>
                        <div class="panel-body" > <!-- SRI-load-table-container -->

                            <div class="table-responsive dataTable_wrapper" ng-class="{'SRI-load-table-container': loadTable}">
                                <div ng-class="{'SRI-load-table': loadTable}"></div>
                                <table width="100%" class="table table-bordered table-hover" style="font-size:9.5pt;">
                                    <thead>
                                        <tr>
                                            <th ng-click="sortType = 'id'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                #
                                                <span ng-show="sortType === 'id' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'id' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>
<!--                                            <th ng-click="sortType = 'facultad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Facultad
                                                <span ng-show="sortType === 'facultad' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'facultad' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>-->
                                            <th ng-click="sortType = 'departamento'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Departamento
                                                <span ng-show="sortType === 'departamento' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'departamento' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>
<!--                                            <th ng-click="sortType = 'semestre'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Semestre
                                                <span ng-show="sortType === 'semestre' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'semestre' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>-->
                                            <th ng-click="sortType = 'nombreactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Nombre del Proyecto
                                                <span ng-show="sortType === 'nombreactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'nombreactividad' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>
                                            <th ng-click="sortType = 'tipoactividad'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Tipo
                                                <span ng-show="sortType === 'tipoactividad' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'tipoactividad' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>



                                             <th ng-click="sortType = 'fechacreacion'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Fecha Creación
                                                <span ng-show="sortType === 'fechacreacion' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'fechacreacion' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>


                                             <th ng-click="sortType = 'ultimafecha'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Fecha Ultima Revisión
                                                <span ng-show="sortType === 'ultimafecha' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'ultimafecha' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>



                                             <th ng-click="sortType = 'ultimoaprobador'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Ultima Revisión
                                                <span ng-show="sortType === 'ultimoaprobador' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'ultimoaprobador' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>



                                             <th ng-click="sortType = 'pendiente'; sortReverse = !sortReverse" style='cursor: pointer'>
                                                Pendiente
                                                <span ng-show="sortType === 'pendiente' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType === 'pendiente' && sortReverse" class="fa fa-caret-up"></span>
                                            </th>


                                            <th>Fondo</th>
                                            <th width="6%">Archivos</th>
                                            <th width="8%">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="actividadGenerada in actividadesGeneradas | orderBy:sortType:sortReverse" class="table-overflow">
                                            <td >{{ actividadGenerada.id }}</td>
<!--                                            <td >{{ actividadGenerada.facultad }}</td>-->
                                            <td >{{ actividadGenerada.departamento }}</td>   
<!--                                            <td >{{ actividadGenerada.semestre }}</td>-->
                                            <td ><strong>{{ actividadGenerada.nombreactividad }}</strong></td>
                                            <td >{{ actividadGenerada.tipoactividad }}</td>

                                            <td >{{ actividadGenerada.fechacreacion }}</td>
                                            <td >{{ actividadGenerada.ultimafecha }}</td>
                                            <td >{{ actividadGenerada.ultimoaprobador }}</td>
                                            <td >{{ actividadGenerada.pendiente }}</td>
                                            <td >{{ actividadGenerada.fondoconcursable }}</td>                                            
                                            <td >{{ actividadGenerada.cantidad }}</td>
                                            <td nowrap>
                                                <img style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/ver.png">
                                                <img style="width:30px; cursor: pointer" data-toggle="modal" data-target="#modalConfirmarEliminacion" ng-click="eliminar(actividadGenerada.idactividadinvestigacion)" src="resources/images/iconos/eliminar.png">
<!--                                                <img style="width:30px; cursor: pointer" ng-click="updateActividadById(actividadGenerada)" src="resources/images/iconos/editar.png">
                                                <img style="width:30px; cursor: pointer" ng-click="EnviarEmail(actividadGenerada)" src="resources/images/iconos/enviar.png">-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination
                                    rango-paginas="rangoPaginas"
                                    current-rango="currentRango"
                                    num-pages="numPages()" 
                                    current-page="currentPage"
                                    max-size="maxSize"
                                    total="total">    
                                </pagination>
                            </div>
                            <button class="btn btn-success btn-sm pull-right" style="margin-top: 10px;" data-toggle="modal" data-target="#modalConfirmarInforme">
                                <span class="glyphicon glyphicon-envelope"></span>
                                Enviar Informe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalNotificacion" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form name="formDni" novalidate class="form-horizontal">
                                    <p>Bienvenido al Sistema de Registro de Investigaciones, por favor seleccione un Docente 
                                        para registrar su Actividad de Investigaci&oacute;n.</p>
                                </form>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cerrar()">
                        <span class="glyphicon glyphicon-rol"></span>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalConfirmarInforme" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Env&iacute;o</h4>
                </div>
                <div class="modal-body">
<!--                    <div class="container-fluid">
-->                        <div class="row">
                            <div class="col-md-12">
                                <form novalidate class="form-horizontal">
                                    <p>Esta seguro que desea enviar el informe de actividades, este no se puede volver a enviar.</p>
                                </form>
                            </div>
                        </div><!--
                     </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="enviarInforme()">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Enviar Informe
                    </button>
                    <button type="button" class="btn btn-deafult btn-sm" data-dismiss="modal" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
        
    <div id="modalEnvioExitoso" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Envio Exitoso</h4>
                </div>
                <div class="modal-body">
<!--                    <div class="container-fluid">
-->                        <div class="row">
                            <div class="col-md-12">
                                <form novalidate class="form-horizontal">
                                    <p>Su informe de Actividades de Investigación ha sido enviado al Director del Departamento.</p>
                                    <p>¡Gracias!.</p>
                                </form>
                            </div>
                        </div><!--
                     </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-deafult btn-sm" data-dismiss="modal" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalConfirmarInforme" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Env&iacute;o</h4>
                </div>
                <div class="modal-body">
<!--                    <div class="container-fluid">
-->                        <div class="row">
                            <div class="col-md-12">
                                <form novalidate class="form-horizontal">
                                    <p>Esta seguro que desea enviar el informe de actividades, este no se puede volver a enviar.</p>
                                </form>
                            </div>
                        </div><!--
                     </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="enviarInforme()">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Enviar Informe
                    </button>
                    <button type="button" class="btn btn-deafult btn-sm" data-dismiss="modal" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalConfirmarEliminacion" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar Eliminaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form novalidate class="form-horizontal">
                                <p>Esta seguro que desea eliminar su Actividad de Investigaci&oacute;n.</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="EliminarActividadGenerada()">
                        <span class="glyphicon glyphicon-ok"></span>
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-deafult btn-sm" data-dismiss="modal" ng-click="cancel()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>



