<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="container" class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">Actividad de Investigación: <strong>{{tipoInvestigacion.nombre}}</strong></div>
                <div class="panel-body">
                    <form name="actividadForm" novalidate class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2" >Nombre</label>
                                    <div class="col-md-10" ng-class="{ 'has-error' : actividadForm.nombre.$invalid && !actividadForm.nombre.$pristine }">
                                        <input name="nombre" ng-model="nombreInvestigacion" type="text" class="form-control" placeholder="Nombre de la investigación" required>
                                        <p ng-show="actividadForm.nombre.$invalid && !actividadForm.nombre.$pristine" class="help-block">El nombre es Requerido.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" >Tipo Actividad</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.investigacion.$invalid && !actividadForm.investigacion.$pristine }">
                                        <select name="investigacion" class="form-control" ng-model="tipoInvestigacion" ng-options="opt as opt.snombreActividadInvestigacion for opt in tipoInvestigaciones" ng-change=changeTipoActividad(tipoInvestigacion.snombreActividadInvestigacion) required></select>
                                        <p ng-show="actividadForm.investigacion.$invalid && !actividadForm.investigacion.$pristine" class="help-block">El Tipo de Investigacion es Requerido.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Facultad</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.facultadValidacion.$invalid && !actividadForm.facultadValidacion.$pristine }">
                                        <select name="facultadValidacion" ng-model="facultad"                
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Facultad'}"
                                            class="form-control"
                                            ng-change="facultadChange()"
                                            ng-init="facultad=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.facultadValidacion.$invalid && !actividadForm.facultadValidacion.$pristine" class="help-block">La Facultad es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.departamentoValidacion.$invalid && !actividadForm.departamentoValidacion.$pristine }">
                                        <select  name="departamentoValidacion" ng-model="departamento"
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Departamento', nidPadre: facultad.nidEstructuraOrganizacion}"
                                            class="form-control"
                                            ng-change="departamentoChange()"
                                            ng-init="departamento=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.departamentoValidacion.$invalid && !actividadForm.departamentoValidacion.$pristine" class="help-block">El Departamento es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Escuela</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.escuelaValidacion.$invalid && !actividadForm.escuelaValidacion.$pristine }">
                                        <select name="escuelaValidacion" ng-model="escuela"
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in estructuraOrganizaciones | filter : { nombreTipoNivel: 'Escuela', nidPadre: departamento.nidEstructuraOrganizacion}"
                                            class="form-control"
                                            ng-init="escuela=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.escuelaValidacion.$invalid && !actividadForm.escuelaValidacion.$pristine" class="help-block">La Escuela es Requerida.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Duraci&oacute;n </label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.duracion.$invalid && !actividadForm.duracion.$pristine }">
                                        <input name="duracion" class="form-control" type="number" ng-model="duracionInvestigacion" placeholder="Número de horas que durara la investigación" required>
                                        <p ng-show="actividadForm.duracion.$invalid && !actividadForm.duracion.$pristine" class="help-block">La duración es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Area </label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.area.$invalid && !actividadForm.area.$pristine }">
                                        <select name="area" ng-model="areaInvestigacion"                
                                            ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: '0'}"
                                            class="form-control"
                                            ng-init="areaInvestigacion=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.area.$invalid && !actividadForm.area.$pristine" class="help-block">El area es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Sub-Area</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.subarea.$invalid && !actividadForm.subarea.$pristine }">
                                        <select name="subarea" ng-model="subareaInvestigacion"
                                            ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: areaInvestigacion.nidEstructura}"
                                            class="form-control"
                                            ng-init="subareaInvestigacion=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.subarea.$invalid && !actividadForm.subarea.$pristine" class="help-block">La subArea es Requerida.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Disciplina</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.disciplina.$invalid && !actividadForm.disciplina.$pristine }">
                                        <select name="disciplina" ng-model="disciplinaInvestigacion" 
                                            ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: subareaInvestigacion.nidEstructura}"
                                            class="form-control"
                                            ng-init="disciplinaInvestigacion=''"
                                            required>
                                        </select>
                                        <p ng-show="actividadForm.disciplina.$invalid && !actividadForm.disciplina.$pristine" class="help-block">La Disciplina es Requerida.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Semestre</label>
                                    <div class="col-md-8" ng-class="{ 'has-error' : actividadForm.escuela.$invalid && !actividadForm.escuela.$pristine }">
                                        <select name="semestre" class="form-control" ng-model="semestre" ng-options="opt as opt.snombreSemestre for opt in semestres" ng-init="semestre=''" required></select>
                                        <p ng-show="actividadForm.semestre.$invalid && !actividadForm.semestre.$pristine" class="help-block">El Semestre es Requerido.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Colaboradores</label>
                                    <div class="col-md-6">
                                        <input ng-model="colaborador.nombre" type="text" class="form-control" placeholder="Seleccione los alumnos">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalColaborador">
                                            <span class="glyphicon glyphicon-user"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[1]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Tipo de Asesoria</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoAsesoria" ng-options="opt as opt.snombreTipoAsesoria for opt in tipoAsesorias" ng-init="tipoAsesoria=''"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[3]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Tipo de Producción</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoProduccion" ng-options="opt as opt.snombreTipoProduccion for opt in tipoProducciones" ng-init="tipoProduccion=''"></select>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[2]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Investigador</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoInvestigador" ng-options="opt as opt.nombre for opt in tipoInvestigadores" ng-init="tipoInvestigador=''"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"> Fondo Concursable</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="fondo" ng-options="opt as opt.snombreFondoConcursable for opt in fondos" ng-init="fondo=''"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="mostrarActividad[0]">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Tipo de Labor</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="tipoLabor" ng-options="opt as opt.nombre for opt in tipoLabores" ng-init="tipoLabor=''"></select>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2"> Descripción de la Actividad</label>
                            <div class="col-md-10">
                                <textarea ng-model="descripcion" style="margin-bottom: 4px;" class="form-control" rows="5" placeholder="descripcion del proyecto"></textarea> 
                            </div>
                            <label for="inpFile" class="control-label col-md-2"> Archivos adjuntos a la actividad</label>
                                <div class="col-md-10">
                                    <div class="panel panel-default" >
                                        <div class="panel-body">
                                            <label for="fileUpload" class="SRI-button"> Seleccionar Archivos </label>
                                            <input id="fileUpload" style="display:none;" type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                                            <p>Número de Archivos: {{ uploader.queue.length }}</p>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50%">Nombre</th>
                                                        <th>Tamaño</th>
                                                        <th>Progreso</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in uploader.queue">
                                                        <td><strong>{{ item.file.name }}</strong></td>
                                                        <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                        <td>
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                            </div>
                                                        </td>
                                                        <td nowrap>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <div>
                                                    Progreso:
                                                    <div class="progress" style="">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                    </div>
                                                </div>
<!--                                            <button type="button" class="btn btn-success btn-s" ng-click="uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Subir todo
                                                </button>
                                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todo
                                                </button>
                                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> Eliminar todo
                                                </button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-12" style="margin-top:10px;">
                                <button type="submit" ng-click="registrarInvestigacion(actividadForm.$valid)" class="btn btn-primary pull-right"> 
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Registrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
    </div>
</div>


<!-- Mensajes de Confirmacion -->
<div ng-show="mensajeSuccess" class="alert alert-success fade in">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Correcto! </strong> {{ message }}
</div>
<div ng-show="mensajeError" class="alert alert-error fade in">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Error! </strong> {{ message }}
</div>

<div ng-class="{'SRI-modal-open': modal.open, 'SRI-modal-close': modal.close}" >
    <div class="SRI-modal">
        <a ng-click="openCloseModal(false, true)" class="SRIModal-cerrar" >Cerrar</a>
        <div>
            <h2>Registro Correcto!</h2>
            <ul>
                <li><p>Ir a actividades generadas clic en :<strong> Ir a Bandeja</strong></p></li>
                <li><p>Generar otra actividad clic en :<strong> Generar Actividad</strong></p></li>
            </ul>
        </div>
<!--        <button ng-click="revisarActividad()" class="SRIModal-button SRI-cancelar">Cancelar</button>-->
        <button ng-click="registrarNuevaActividad()" class="SRIModal-button SRI-nuevo">Generar Actividad</button>
        <button ng-click="irActividadesGeneradas()" class="SRIModal-button SRI-confirmar">Ir a Bandeja</button>
    </div>
</div>


<div id="modalColaborador" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Colaboradores</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Usuarios</label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="usuario" uib-typeahead="opt as opt.susuarioLogin for opt in usuarios | filter:$viewValue | limitTo:8" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary" ng-click="AgregarColaborador()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="70%">Colaboradores Asignados</th>
                                            <th>Acci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="colaborador in colaboradores">                   
                                            <td>{{ colaborador.susuarioLogin }}</td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-default btn-xs" ng-click="DeleteColaborador(colaborador)">
                                                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updatePaginacion()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

