<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="margin-top:20px;">
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="progress SRI-progress">
                        <div class="progress-bar progress-bar-success SRI-progress-bar" style="width: {{activo}}">
                            <span class="progress-text"> {{ docentes.nactivos}} DOCENTES INVESTIGANDO</span>
                        </div>
                        <div class="progress-bar progress-inactivo SRI-progress-bar" style="width: {{inactivo}}">
                            <span class="progress-text"> {{ docentes.ninactivos }} DOCENTES NO INVESTIGANDO</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-top: 20px;">
                <div class="col-lg-3 col-md-6" ng-repeat="tipoInvestigacion in tipoInvestigaciones">
                    <div class="panel" ng-click="setTipoInvestigacion(tipoInvestigacion)" ng-class="{'panel-primary' : !(tipoInvestigacion.nidTipoActividadInvestigacion == currentTipo), 'panel-success' : (tipoInvestigacion.nidTipoActividadInvestigacion == currentTipo)}"  style="cursor: pointer;" > <!-- ng-click="setTipoInvestigacion(tipoInvestigacion)" -->
                        <div class="panel-heading" > <!-- style="background-image: url('resources/images/actividad.png')" -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="caja">{{ tipoInvestigacion.snombreActividadInvestigacion }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Actividades</span>
                            <span class="pull-right">{{ tipoInvestigacion.ntotal }}</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table width="100%" class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th width="4%"># </th>
                                            <th width="40%">Facultad</th>
                                            <th width="5%">Total</th>
                                            <th width="50%">Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="docenteFacultad in docentesFacultades" ng-click="filtrarFacultad(docenteFacultad)" ng-class="{'filaSeleccionada': (docenteFacultad.nidEstructuraOrganizacion == currentFacultad)}" style='cursor: pointer'>
                                            <td>{{ $index + row}}</td>
                                            <td>{{ docenteFacultad.snombreEstructuraOrganizacion }}</td>
                                            <td>{{ docenteFacultad.ntotal }}</td>
                                            <td>
                                                <div class="progress SRI-progress" style="margin-bottom: 0; height:30px;">
                                                    <div class="progress-bar SRI-progress-bar" ng-class="{'progress-activo': !(docenteFacultad.ntotal == 0), 'progress-activo-empty': (docenteFacultad.ntotal == 0)}" style="width: {{ docenteFacultad.porcentajeActivo }}">
                                                        <span class="progress-text" style=" line-height:30px;"> {{ docenteFacultad.nactivos }}</span>
                                                    </div>
                                                    <div class="progress-bar SRI-progress-bar" ng-class="{'progress-inactivo': !(docenteFacultad.ntotal == 0), 'progress-inactivo-empty': (docenteFacultad.ntotal == 0)}" style="width: {{ docenteFacultad.porcentajeInactivo }}">
                                                        <span class="progress-text" style=" line-height:30px;"> {{ docenteFacultad.ninactivos }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Usuarios
                            <button class="btn btn-danger btn-sm pull-right" ng-click="descargarPDF()">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                Descargar PDF
                            </button>
                            <button class="btn btn-success btn-sm pull-right" ng-click="descargarExcel()" style="margin-right: 6px;">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                Descargar Excel
                            </button>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <input ng-model="buscar" class="form-control" placeholder="Buscar" uppercase>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="clickBuscar()" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table width="100%" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th ># </th>
                                            <th>Facultad</th>
                                            <th>Departamento</th>
                                            <th>Nombres</th>
                                            <th>Email</th>
                                            <th ng-show="currentTipo != '0'"  width="25%">Tipo Actividad</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users" class="table-overflow" ng-click="verDetalleDocente(user)" style='cursor: pointer'>
                                            <td class="SRI-Width">{{ $index + row}}</td>
                                            <td class="SRI-Width-Column">{{ user.sfacultad }}</td>
                                            <td class="SRI-Width-Column">{{ user.sdepartamento }}</td>
                                            <td>{{ user.snombre + " " + user.sapellido }} </td>
                                            <td>{{ user.semail }}</td>
                                            <td ng-show="currentTipo != '0'">{{ user.snombreActividadInvestigacion }}</td>
                                            <td nowrap>
                                                <img ng-if="user.ncolor == '0' " style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/rojo.png">
                                                <img ng-if="user.ncolor == '1' " style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/amarillo.png">
                                                <img ng-if="user.ncolor == '2' " style="width:30px; cursor: pointer" ng-click="verActividadById(actividadGenerada)" src="resources/images/iconos/verde.png">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination
                                rango-paginas="rangoPaginas"
                                current-rango="currentRango"
                                num-pages="numPages()" 
                                current-page="currentPage"
                                max-size="maxSize"
                                total="total" >    
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

