<div id="page-wrapper">
    <div class="col-lg-12" style="margin-top:20px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                Generar Campos
                <button class="btn btn-primary btn-sm pull-right" data-toggle="modal"
                        data-backdrop="static" data-keyboard="false" 
                        data-target="#modalNuevo">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo
                </button>	
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <input ng-model="buscar" class="form-control" placeholder="Buscar" >
                        </div>
                        <div class="col-sm-2">
                            <button ng-click="clickBuscar()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table width="100%" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="30%">Etiqueta</th>
                                <th>Modelo</th>
                                <th>Tipo</th>
                                <th>Facultad</th>
                                <th>Estado</th>
                                <th width="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="plantillaDocumento in plantillaDocumentos">
                                <td class="colorTextoGrilla">{{ plantillaDocumento.setiqueta }}</td>
                                <td class="colorTextoGrilla">{{ plantillaDocumento.smodel }}</td>
                                <td class="colorTextoGrilla">{{ plantillaDocumento.stipo }}</td>
                                <td class="colorTextoGrilla">{{ plantillaDocumento.sfacultad }}</td>
                                <td class="colorTextoGrilla">{{ plantillaDocumento.sestado }}</td>
                                <td nowrap>
                                    <img style="width:30px; cursor: pointer" ng-click="update(plantillaDocumento)" 
                                         src="resources/images/iconos/editar.png" data-toggle="modal" 
                                         data-backdrop="static" data-keyboard="false"
                                         data-target="#modalUpdate">
                                    <img style="width:30px; cursor: pointer" ng-click="EliminarPlantillaDocumento(plantillaDocumento)" src="resources/images/iconos/eliminar.png">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination
                    rango-paginas="rangoPaginas"
                    current-rango="currentRango"
                    num-pages="numPages()" 
                    current-page="currentPage"
                    max-size="maxSize"
                    total="total">
                </pagination>
            </div>
        </div>
    </div>
</div>

<!-- NUEVO USUARIO -->
<div id="modalNuevo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                  <h4 class="modal-title">Registrar Nueva Plantilla</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="formRegistrarPlantilla" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Etiqueta</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.setiqueta" type="text" 
                                               class="form-control" placeholder="Etiqueta"
                                               required >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Modelo</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.smodel" class="form-control"
                                               placeholder="ng-model"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Tipo</label>
                                    <div class="col-md-10">
                                        <select ng-model="plantillaDocumento.stipo"                
                                            ng-options="opt as opt for opt in tipos"
                                            class="form-control"
                                            ng-change="changeTipo(plantillaDocumento.stipo)" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="textArea">
                                    <label class="control-label col-md-2" style="">Opciones</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.sopciones" class="form-control" 
                                               placeholder='ng-options="opt as opt for opt in opciones"'
                                               required>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="textArea">
                                    <label class="control-label col-md-2" style="">Valores</label>
                                    <div class="col-md-10">
                                        <textarea ng-model="plantillaDocumento.sdata" class="form-control" rows="5" ></textarea> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Facultad</label>
                                    <div class="col-md-10">
                                        <select ng-model="facultad"                
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in organizaciones | filter : { snivel : 'FACULTAD'}"
                                            class="form-control"
                                            ng-change="changeFacultad(facultad)">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="RegistrarPlantillaDocumento()">
                         <span class="glyphicon glyphicon-floppy-saved"></span>
                         Registrar
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                         <span class="glyphicon glyphicon-remove"></span>
                         Cerrar
                  </button>
            </div>
        </div>
    </div>
</div>

<!-- Actualizar Usuario -->
<div id="modalUpdate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Etiqueta</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.setiqueta" type="text" 
                                               class="form-control" placeholder="Etiqueta"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Modelo</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.smodel" 
                                               class="form-control" placeholder="ng-model"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Tipo</label>
                                    <div class="col-md-10">
                                        <select ng-model="plantillaDocumento.stipo"                
                                            ng-options="opt as opt for opt in tipos"
                                            class="form-control"
                                            ng-change="changeTipo(plantilla.stipo)"
                                            required>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="textArea">
                                    <label class="control-label col-md-2" style="">Opciones</label>
                                    <div class="col-md-10">
                                        <input ng-model="plantillaDocumento.sopciones" class="form-control" 
                                               placeholder='ng-options="opt as opt for opt in opciones"'
                                               required>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="textArea">
                                    <label class="control-label col-md-2" style="">Valores</label>
                                    <div class="col-md-10">
                                        <textarea ng-model="plantillaDocumento.sdata" class="form-control" rows="5" 
                                                  required></textarea> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Facultad</label>
                                    <div class="col-md-10">
                                        <select ng-model="facultad"                
                                            ng-options="obj as obj.snombreEstructuraOrganizacion for obj in organizaciones | filter : { snivel : 'FACULTAD'}"
                                            class="form-control"
                                            ng-change="changeFacultad(facultad)">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ActualizarPlantillaDocumento()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Actualizar
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Cerrar()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
