<div id="page-wrapper">
    <div class="col-lg-12" style="margin-top:20px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Administración de tipos de Investigacion
                        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal"
                                data-backdrop="static" data-keyboard="false" 
                                data-target="#popNuevoInvestigacion">
                            <span class="glyphicon glyphicon-plus"></span>
                            Nuevo
                        </button>	
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input ng-model="buscar" class="form-control" placeholder="Buscar" >
                                </div>
                                <div class="col-sm-2">
                                    <button ng-click="clickBuscar()" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table width="100%" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="colorTextoGrilla">Tipo Investigacion</th>
                                    <th width="10%" class="colorTextoGrilla">Acci&oacute;n</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="investigacion in investigaciones">
                                    <td class="colorTextoGrilla">{{ investigacion.snombreActividadInvestigacion }}</td>
                                    <td nowrap>
                                        <img style="width:30px; cursor: pointer" ng-click="update(investigacion)" 
                                             src="resources/images/iconos/editar.png" data-toggle="modal"
                                             data-backdrop="static" data-keyboard="false"
                                             data-target="#popUpdateInvestigacion">
                                        <img style="width:30px; cursor: pointer" ng-click="deleteInvestigacion(investigacion)" src="resources/images/iconos/eliminar.png">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination
                            rango-paginas="rangoPaginas"
                            current-rango="currentRango"
                            num-pages="numPages()" 
                            current-page="currentPage"
                            max-size="maxSize"
                            total="total">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>
</div>-->

<!-- Nueva Investigacion -->
<div id="popNuevoInvestigacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar Tipo de Investigaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="formRegistroTipoInvestigacion" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Tipo Investigaci&oacute;n</label>
                                    <div class="col-md-10">
                                            <input id="inpRol" ng-model="investigacion.snombreActividadInvestigacion"
                                                   type="text" class="form-control" 
                                                   placeholder="Nombre del tipo de Investigacion" 
                                                   required >
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="registrarInvestigacion()">
                    <span class="glyphicon glyphicon-rol"></span>
                    Registrar
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- UPDATE Investigacion -->
<div id="popUpdateInvestigacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar Tipo de Investigaci&oacute;n</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="formUpdateTipoInvestigacion" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="">Tipo de Investigaci&oacute;n</label>
                                    <div class="col-md-10">
                                        <input id="inpRol" ng-model="investigacion.snombreActividadInvestigacion" 
                                               type="text" class="form-control" 
                                               placeholder="Nombre del tipo de investigacion"
                                               required >
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="updateInvestigacion()">
                    <span class="glyphicon glyphicon-rol"></span>
                    Actualizar
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
