
<div id="page-wrapper">
    <div class="col-lg-12" style="margin-top:20px;">
				<div class="panel panel-info">
					<div class="panel-heading">
						Administración de Tipo de Producción
						<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#popNuevoTipoProduccion">
							<span class="glyphicon glyphicon-plus"></span>
							Nuevo
						</button>	
					</div>
					<div class="panel-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <input ng-model="buscar" class="form-control" placeholder="Buscar" >
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button ng-click="clickBuscar()" class="btn btn-primary">
                                                            <span class="glyphicon glyphicon-search"></span> Buscar</button>
                                                    </div>
                                                </div>
                                            </div>
						<table width="100%" class="table table-striped table-bordered table-hover">
	                        <thead>
	                            <tr>
	                                <th width="60%">Nombre Tipo Produccion</th>
	                                <th >Accion</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="tipoProduccion in tipoProducciones">
	                                <td><strong>{{ tipoProduccion.snombreTipoProduccion }}</strong></td>
	                                <td nowrap>
	                                    <button type="button" class="btn btn-primary btn-xs" ng-click="update(tipoProduccion)" data-toggle="modal" data-target="#popUpdateTipoProduccion">
	                                        <span class="glyphicon glyphicon-edit"></span> Editar
	                                    </button>
	                                    <button type="button" class="btn btn-default btn-xs" ng-click="deleteTipoProduccion(tipoProduccion)">
	                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
	                                    </button>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
                            <pagination
                                rango-paginas="rangoPaginas"
                                current-rango="currentRango"
                                num-pages="numPages()" 
                                current-page="currentPage"
                                max-size="maxSize" >    
                            </pagination>
					</div>
				</div>
			</div>
		</div>
<!--	</div>
</div>-->

<!-- NUEVO USUARIO -->
<div id="popNuevoTipoProduccion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<h4 class="modal-title">Registrar Tipo Produccion</h4>
	        </div>
	        <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                            <label class="control-label col-md-2" style="">Tipo Produccion</label>
                                            <div class="col-md-10">
                                                    <input id="inpNombre" ng-model="tipoProduccion.snombreTipoProduccion" type="text" class="form-control" placeholder="Nombre del tipo de Produccion">
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="registrarTipoProduccion()">
	        		<span class="glyphicon glyphicon-save"></span>
	        		Registrar
	        	</button>
	          	<button type="button" class="btn btn-default" data-dismiss="modal">
	          		<span class="glyphicon glyphicon-remove"></span>
	          		Cerrar
	          	</button>
	        </div>
        </div>
    </div>
</div>

<!-- UPDATE TIPO PRODUCCION -->
<div id="popUpdateTipoProduccion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<h4 class="modal-title">Actualizar Tipo Produccion</h4>
	        </div>
	        <div class="modal-body">
	        	<div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" style="">Tipo Produccion</label>
                                            <div class="col-md-10">
                                                    <input id="inpNombre" ng-model="tipoProduccion.snombreTipoProduccion" type="text" class="form-control" placeholder="Nombre del tipo de Produccion">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTipoProduccion()">
	        		<span class="glyphicon glyphicon-refresh"></span>
	        		Actualizar
	        	</button>
	          	<button type="button" class="btn btn-default" data-dismiss="modal">
	          		<span class="glyphicon glyphicon-remove"></span>
	          		Cerrar
	          	</button>
	        </div>
        </div>
    </div>
</div>
