<div ng-show="loader" class="SRI-loader-open">
    <div class="SRI-loader"></div>
</div>
<div id="container" class="container">
    <!-- START EDITAR -->
    <div class="col-lg-offset-2 col-md-10">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>{{actividadGeneradaVista.snombreActividadInvestigacion}}</strong></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" style="">Tipo de Investigación</label>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="actividadGeneradaVista.tipoInvestigacion" ng-options="opt as opt.snombreActividadInvestigacion for opt in tipoInvestigaciones" ng-change=actividadChange(actividadGeneradaVista.tipoInvestigacion.snombreActividadInvestigacion)></select>
                        </div>
                        <label class="control-label col-md-2" >Nombre Actividad</label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.snombreActividadInvestigacion">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Facultad</label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.sfacultad">
                        </div>
                        <label class="control-label col-md-2">Departamento</label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.sdepartamento">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Escuela</label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.sescuela">
                        </div>
                        <label class="control-label col-md-2">Semestre</label>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="actividadGeneradaVista.semestre" ng-options="opt as opt.snombreSemestre for opt in semestres"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> Duracion </label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.nhoras">
                        </div>
                        <div id="actividad2" ng-show="actividad2_show">
                            <label class="control-label col-md-2"> Tipo de Asesoria</label>
                            <div class="col-md-4">
                                <input class="form-control" ng-model="actividadGeneradaVista.stipoAsesoria">
                            </div>
                        </div>
                        <div id="actividad4" ng-show="actividad4_show">
                            <label class="control-label col-md-2"> Tipo de Producción</label>
                            <div class="col-md-4">
                                <input class="form-control" ng-model="actividadGeneradaVista.sritipoProduccion">
                            </div>
                        </div>
                    </div>
                    <div id="actividad3" ng-show="actividad3_show" class="form-group">
                        <label class="control-label col-md-2">Investigador</label>
                        <div class="col-md-4">
                            <input class="form-control" >
                        </div>
                        <label class="control-label col-md-2"> Fondo Concursable</label>
                        <div class="col-md-4">
                            <input class="form-control" ng-model="actividadGeneradaVista.sfondoConcursable">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="actividad1" ng-show="actividad1_show">
                            <label class="control-label col-md-2">Tipo de Labor</label>
                            <div class="col-md-4">
                                <input class="form-control" ng-model="actividadGeneradaVista.stipoLabor">
                            </div>
                        </div>
                        <label class="control-label col-md-2"> Colaboradores</label>
                        <div class="col-md-4">
                            <input class="form-control" value="Eduardo Zapana">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> Area Investigación</label>
                        <div class="col-md-4">
                            <select ng-model="actividadGeneradaVista.areaInvestigacion" ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: '0'}" class="form-control" ></select>
                        </div>
                        <label class="control-label col-md-2"> Sub-Area Investigación</label>
                        <div class="col-md-4">
                            <select  ng-model="actividadGeneradaVista.subareaInvestigacion" ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: actividadGeneradaVista.areaInvestigacion.nidEstructura}" class="form-control" ></select> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"> Disciplina</label>
                        <div class="col-md-4">
                            <select ng-model="actividadGeneradaVista.disciplinaInvestigacion" ng-options="obj as obj.sNombre for obj in areaInvestigaciones | filter : { nIdPadre: actividadGeneradaVista.subareaInvestigacion.nidEstructura}" class="form-control" ></select> 
                        </div>
                    </div>
                </form>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2"> Descripción de la Actividad</label>
                        <div class="col-md-10">
                            <textarea ng-model="actividadGeneradaVista.sdescripcionActividad" style="margin:2px;" class="form-control" rows="5" placeholder="descripcion del proyecto"></textarea> 
                        </div>
                        <label for="inpFile" class="control-label col-md-2"> Archivos adjuntos a la actividad</label>
                        <div class="col-md-10">
                            <div class="panel panel-default" >
                                <div class="panel-body">
                                    <label for="fileUpload" class="SRI-button"> Seleccionar Archivos </label>
                                    <input id="fileUpload" style="display:none;" type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                                    <p>Número de Archivos: {{ uploader.queue.length }}</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Nombre</th>
                                                <th>Tamaño</th>
                                                <th>Progreso</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td>
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <div>
                                            Progreso:
                                            <div class="progress" style="">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="col-md-offset-2 btn btn-primary" type="button" ng-click="actualizarActividad()">
                    <span class="glyphicon glyphicon-refresh"></span> Actualizar</button>                
            </div>
        </div>  
    </div><!-- END EDITAR -->
            
<!--    <div ng-class="{'SRI-modal-open': modal.open, 'SRI-modal-close': modal.close}" >
        <div class="SRI-modal">
            <a ng-click="openCloseModal(false, true)" class="SRIModal-cerrar" >Cerrar</a>
            <div>
                <h3>{{mensaje.titulo}}</h3>
                <p>{{mensaje.contenido}}</p>
            </div>
            <hr/>
            <button ng-click="irBandeja()" class="SRIModal-button SRI-confirmar">Ir a Bandeja</button>
        </div>
    </div>-->
</div>

